mixin title(one, two)
  .title__wrap
    h1(class!=attributes.class)
      .title.title_accent= one
      .title= two

mixin titleReverse(one, two)
  .title__wrap
    h1(class!=attributes.class)
      .title= one
      .title.title_accent= two

mixin pageTitleReverse(one, two)
  .title__wrap
    h1(class!=attributes.class)
      .title= one
      br
      .title.title_accent= two

mixin titleWhite(one, two)
  .title__wrap
    h1(class!=attributes.class)
      .title.title_accent.title_accent-white(class!=attributes.class)= one
      .title.title_white(class!=attributes.class)= two

mixin titleStrock(text)
  h1.m0
    .title.title_accent.title_stroke(class!=attributes.class)= text

mixin titleFill(text)
  h1.m0
    .title.title_fill(class!=attributes.class)= text

