mixin title(one, two)
  .title__wrap
    h1
      .title.title_accent= one
      .title= two

mixin titleWhite(one, two)
  .title__wrap
    h1
      .title.title_accent.title_accent-white= one
      .title.title_white= two

mixin titleStrock(text)
  h1.m0
    .title.title_accent.title_stroke= text

mixin titleFill(text)
  h1.m0
    .title.title_fill= text

